- name: install docker
  hosts: all
  become: yes
  become_method: sudo
  gather_facts: yes
  tasks:


    - name: install a dependency
      become: yes
      apt:
        name: "{{item}}"
        state: present
        update_cache: yes
      loop:
        - apt-transport-https
        - ca-certificates
        - curl
        - gnupg-agent
        - software-properties-common
      when: ansible_facts['os_family'] == "Debian"


    - name: add GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present
      when: ansible_facts['os_family'] == "Debian"

    - name: add docker repository to apt
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu bionic stable
        state: present
      when: ansible_facts['os_family'] == "Debian"


    - name: install docker
      apt:
        name: "{{item}}"
        state: latest
        update_cache: yes
      loop:
        - docker-ce
        - docker-ce-cli
        - containerd.io
      when: ansible_facts['os_family'] == "Debian"

    - name: docker start and enable
      systemd:
        name: docker
        state: started
        enabled: true



   

    

   
     


      
